*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-flex {
  display: flex;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-nav {
  max-width: 450px;
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 24px 0;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  position: relative;
}

.nav-list > .list-item:first-child:after {
  display: block;
  content: '';
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
  position: absolute;
  margin-top: 20px;
}

.list-item:not(:last-child) {
  margin-right: 40px;
}

.list-item:last-child {
  margin-right: 0;
}

.nav-list-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.contacts {
  display: flex;
  align-items: center;
  font-style: normal;
}

.contacts-list {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts-item:not(:last-child) {
  margin-right: 40px;
}

.contacts-item:last-child {
  margin-right: 0;
}

.contacts-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.logo,
.nav-list-link,
.contacts-link {
  text-decoration: none;
}

/********** Main Content***********/

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-info {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px, 1440px;
  padding: 188px 0;
}

.main-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.click {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;

  border: none;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.click:hover,
.click:focus {
  background: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.motto-list {
  display: flex;

}

.motto-list-item {
  width: calc((100% - 72px) / 4);
}

.motto-list-item:not(:last-child) {
  margin-right: 24px;
}
 .box {
  display: block;
  width: 264px;
  height: 112px;
  padding-top: 24px;
  padding-right: 100px;
  padding-bottom: 24px;
  padding-left: 100px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid  #8E8F99;
  background: #F4F4FD; 
 }

.motto-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.motto-text {
  display: flex;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/******** Team **********/

.team {
  background: #f4f4fd;
}

.about {
  padding: 32px 0;
}

.team-title {
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list-item:not(:last-child) {
  margin-right: 24px;
}

.team-list-item:last-child {
  margin-right: 0;
}

.team-list-item {
  background: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.item-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.occupation {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.social-icon {
  fill: #F4F4FD;
}
.item-icon {
 
  gap: 24px;
  border-radius: 50px;
  background-color:  #4D5AE5;
  width: 40px;
  height: 40px;
  padding: 12px;
}

.list-icon {
  display: flex;
  max-width: 232px;
  column-gap: 24px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}

 
 
 



/******** Our  Portfolio ******/

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.achievements-app {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.achievements-title {
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.achievements-list-item {
  width: calc((100% - 48px) / 3);
}

.achievements-title-app {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.achievements-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/********* Ending **********/

.postscript {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.postscript .logo {
  display: inline-block;
  margin-bottom: 16px;
  width: 115px;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.postscript .logo-studio {
  color: #f4f4fd;
}

.postscript-text {
  display: flex;
  width: 264px;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
